@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

/* Auth- Login and Sign up */

* {
  margin: 0;
  padding: 0;

}

body{
  background-color:#fafafa;
}


.miniImage{
  height:100px; 

  margin-top:60px;
  margin-bottom: 30px}


.marginHome{
  margin-top:0px !important;
}

.marginStudentDash{
  margin-bottom:5px;
}

.clipPhoto{
 
  height: 285px;
  z-index: 0;
  transform:translateY(10px);
  transform:translateX(-10px)

}

.classCodeId{
font-size: 3rem;
letter-spacing: 8px;
color: #ef476f;


}

.classCodeImage{
  position:absolute;
  text-align: center;
  z-index: 1;
  transform:translate(35px, 50px);

}

.clip{
position: relative;
margin-right: auto;
display:flex;
justify-content: center;
align-items: center;
height: 80vh;

  
  
}
.responsiveMarginTopAdmin{
  margin-top:25px;
}
.manageHoursMarginTop{
  margin-top:10px;
  margin-left:10px;
}
.manageAccountMarginTop{
  margin-top:0px;
  margin-left:10px;
}



.manageAccountMarginLeft{

  margin-left:10px;
}


.blueDiv {
  background-color: #fafafa;
  height: 35vh;
  padding: 1px;
  display: block;
  margin-bottom: 25px;
}

.newLanding {
  background-image: url("../src/Assets/undraw_the_world_is_mine_nb0e\ \(1\).svg");
  background-repeat: no-repeat;
  background-size: 90%;
  object-fit: cover;
  background-position: center;
  display: none;
}

.falconpic {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mainDiv {
  background-color: #f7f7f7;
  height: 100vh;
}

.formPadding {
  padding: 10px 25px;
  margin-top: 10px;
}

.signupTitle {
  text-align: center;
  font-family: "Sofia", cursive !important;
}

.adminTitle {
  font-family: "Sofia", cursive !important;
}



a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.smallMarginTop {
  margin-top: 15px !important;
}

.studentDash {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.progressCircle {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  margin-bottom: 25px;
}

.studentChart {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: "3px";
  padding-right: "3px";
}

.studentContainer {
  height: 90vh;
  background-color: #fafafa;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 100px;
}

@media only screen and (min-width: 600px) {

  .marginHome{
    margin-top:150px !important;
  }

  .marginStudentDash{
    margin-bottom:25px !important;
  }

  .clip{
    position: relative;
    margin-right: auto;
    display:flex;
    justify-content: center;
    height: 100vh;
    margin-top:0px;
      
    }

  .clipPhoto{
 
    height: 400px;
    z-index: 0;
    transform:translateY(40px);

  
  }
  
  .classCodeId{
  font-size: 3rem;
  letter-spacing: 8px;
  color: #ef476f;
  
  
  }
  
  .classCodeImage{
    position:absolute;
    text-align: center;
    z-index: 1;
    transform:translate(60px, 70px);
  
  }
  

  .manageAccountMarginTop{
    margin-top:80px;
  
  }
  .manageAccountMarginLeft{
  
    margin-left:35px;
  }

  .manageHoursMarginTop{
    margin-top:80px;
    margin-left: 25px;
  }
  .responsiveMarginTopAdmin{
    margin-top:100px;
  }
  .newLanding {
    background-image: url("../src/Assets/undraw_the_world_is_mine_nb0e\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: "contain";
    object-fit: cover;
    background-position: center;
  }

  .studentDash {
    width: 60vw;
    margin-left: 30px;
    margin-right: auto;
  }

  .studentChart {
    padding: 0px 0px;

    width: 100%;
    position: relative;
  }

  .progressCircle {
    margin-top: 25px;
    width: 90%;
  }

  .studentButtons {
    background-color: yellow;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .viewEvents {
    margin-left: auto;
    margin-right: auto;
  }
  .auth {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.212);
    transform: translateY(5%);
  }

  .classCode {
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-60%);
  }
  .studentAccounts {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  .blueDiv {
    background-color: #fafafa;
    height: 30vh;
    padding: 1px;
    display: block;
    margin-bottom: 200px;
  }

  .studentContainer {
    height: 75vh;
    background-color: #fafafa;
    margin-left: 2%;
    margin-right: 2%;
  }

  .addServiceButton {
    background-color: white !important;
  }
}
@media only screen and (min-width: 886px) {
  .studentContainer {
    height: 90vh;
    background-color: #fafafa;
    margin-left: 5%;
    margin-right: 5%;
  }

  .blueDiv {
    background-color: #fafafa;
    height: 44vh;
    padding: 3px;
    display: block;
    margin-bottom: 200px;
  }

  .progressCircle {
    width: 200px;
  }

  .studentDash {
    width: 60vw;
    margin-left: 30px;
  }

  .studentChart {
    padding: 0px 0px;
    width: 100%;

    position: relative;
  }

  .newLanding {
    display: block;
    background-image: url("../src/Assets/undraw_the_world_is_mine_nb0e\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: "contain";

    /* object-fit: cover; */
    background-position: center;
  }
}

.MuiTableCell-root {
  padding: 5px 0px !important;
}

.editIcon {
  display: flex;
  justify-content: flex-end;
}

.studentButtons {
  background-color: yellow;
  margin-top: 20px;
}

.toRight {
  margin-left: auto;
  width: 155px;
}

#burst {
  background: rgba(128, 128, 128, 0.103);
  width: 280px;
  height: 280px;
  position: relative;
  text-align: center;
  transform: rotate(20deg);
  transform: translateY(100px);
  margin-top: 80px;
}
#burst:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 280px;
  width: 280px;
  background: #fafafa;
  transform: rotate(135deg);
}

.admindash {
  height: 100vh;

  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 100px;
  
}

.admindash_div {
  transform: translateX(25%);

  margin-right: auto;
  margin-left: auto;
}

.admindash_icons {
  font-size: 25px;
  color: #5390d9;
  margin-left: 25px;
  margin-right: 15px;
}

.marginBottom {
  margin-bottom: 30px;
}

.classCode {
  padding-top: 5px;
  text-align: center;
}

.classCode h1 {
  font-size: 300%;
  letter-spacing: 8px;
  display: inline;
  color: #ef476f;
  margin-left: 70px;
}

hr {
  height: 8px;
  background-color: #f6d55c;
  border: none;
  width: 180px;
  margin-bottom: 36px;
  transform: translateX(10%);
  margin-top: 5px;
}

.visited:visited {
  color: black;
}

/* .studentAccounts{
  margin-left:auto;
  margin-right:auto;
  width: 400px;
} */

.noPadding {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

/* Manage Student Accounts */
